﻿
/**{
    margin:0; padding:0;

}*/
#wrapperx{ width:auto;


}

.Nav{padding:10px; float:left; background-color:rgb(23, 63, 95); width:100%; color:white;}
ul {
    overflow-x: hidden;
    white-space: nowrap;
   
    width: 100%;
    padding:10px;
}
li {list-style:none; padding:5px; display:inline; text-decoration:none; width:100px;}
a:link {text-decoration:none;}
.Content-Data
{
    padding:10px;
}

.Content {
    padding: 10px;
}

.Headerx {
    padding: 10px;
    background: rgb(0, 148, 255);
    color: white;
    
}

body {
}
